In [13]:
import pandas as pd
import numpy as np

In [14]:
mal = np.load('data/mal_chars_126.npy')

In [28]:
def decode_char(chr_str):
    try:
        lis = chr_str.split(' ')
        char_list = [chr(int(i)) for i in lis] 
        pred = ''.join(char_list)
        return pred
    except ValueError:
        return chr_str
    return chr_str

In [26]:
decode_char('3374 3405 3370')

'മ്പ'

In [43]:
DATA_PATH = './results/model_summary/vggnet/17-27_29-3-2022-24_6_8/metrics.csv'

In [44]:
data = pd.read_csv(DATA_PATH)

In [45]:
data.head()

  Unnamed: 0  precision    recall  f1-score  support
0       3329        1.0  0.954545  0.976744     22.0
1       3330        1.0  1.000000  1.000000     12.0
2       3331        1.0  1.000000  1.000000      7.0
3       3333        1.0  1.000000  1.000000     12.0
4       3334        1.0  1.000000  1.000000     15.0

In [46]:
list(data)

['Unnamed: 0', 'precision', 'recall', 'f1-score', 'support']

In [47]:
data.rename(columns = {'Unnamed: 0':'Character',}, inplace = True)

In [48]:
list(data)

['Character', 'precision', 'recall', 'f1-score', 'support']

In [49]:
for i, row in data.iterrows():
    data.replace({'Character': {row['Character']:decode_char(row['Character'])}},inplace=True)

In [50]:
data.tail()

        Character  precision    recall  f1-score     support
124             ൽ   1.000000  1.000000  1.000000    10.00000
125             ൾ   1.000000  1.000000  1.000000    15.00000
126      accuracy   0.993590  0.993590  0.993590     0.99359
127     macro avg   0.993910  0.993726  0.993614  1872.00000
128  weighted avg   0.993961  0.993590  0.993586  1872.00000

In [51]:
filename = DATA_PATH.rsplit('.',1)[0]+'.xlsx'
data.to_excel(filename)